<!DOCTYPE html>
<html lang="en">
    <head>
        <title>DevCon Happening</title>
        <% include partial/head %>
    </head>

    <body>
      <header>
        <% include partial/nav %>
      </header>

      <main>

        <div class="container">

          <div class="section wrapper center-align">
            <h2>Login</h2>
          </div>

          <div class="section center-align">

            <div class="row">
              <div class="col s12 m6 offset-m3 l4 offset-l4">
                <div class="card-panel">
                  <form action="#">

                    <div class="row">
                      <div class="input-field col s12">
                        <input id="email" type="email" class="validate" required>
                        <label for="email">Email *</label>
                      </div>
                    </div>

                    <div class="row">
                      <div class="input-field col s12">
                        <input id="password" type="password" class="validate" required>
                        <label for="password">Password *</label>
                      </div>
                    </div>

                    <div class="row half-wrapper">
                      <div class="col s12">
                        <button class="btn-large waves-effect waves-light" type="submit" name="action">Login
                          <i class="material-icons right">send</i>
                        </button>
                      </div>
                    </div>

                  </form>
                </div>
              </div>
            </div>

          </div>
        </div>

      </main>

      <% include partial/script %>
      <script>
        $(document).ready(function() {
          $('select').material_select();
        });
      </script>

    </body>
</html>
