<!DOCTYPE html>
<html lang="en">
    <head>
        <title>DevCon Happening</title>
        <% include partial/head %>
    </head>

    <body>
      <header>
        <% include partial/nav %>
      </header>

      <main>
        
        <div class="section wrapper">
          <div class="container">
            <div class="row">
              <div class="col s12 m12 center-align">
                <h4 class ="header">Devcon Academia: Decoupled - Machine Learning</h4>
                <div class="info">Fri, October 13, 2017 | <span class="space">11:00 AM – 17:30 PM</span> </div>
              </div>
            </div>

            <div class="row wrapper">
              <div class="col s8 m8 description">
                <h6>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris vitae massa malesuada, pulvinar lectus et, fringilla felis. Donec finibus rutrum gravida. Nunc malesuada tincidunt quam quis porta. Nunc ornare eu velit id iaculis. Praesent ac pharetra risus. Praesent non velit congue, mollis urna et, egestas nisi. In ac enim vel tortor mattis bibendum. In mattis at urna vestibulum consequat.</h6>
                <div><b>Food & Beverage is not provided</b></div>
              </div>

              <div class="col s1 s1"></div>
              <div class="col s3 m3 center-align">
                <a href="register.html" class="waves-effect waves-teal btn-large">Register Now</a>
                <p><a href="#" class="text-hyperlink participant">18/20 participants</a></p>
              </div>

            </div>

            <div class="row">
              <div class="divider"></div>
              <h5 class="center-align">Locations</h5>
              <div class="locations half-wrapper">
                <ul>
                  <li><a class="waves-effect waves-teal btn-large">MaGIC, CYBERJAYA</a></li>
                  <li><a class="waves-effect waves-teal btn-large">PAPER & TOAST, BUKIT BINTANG </a></li>
                  <li><a class="waves-effect waves-teal btn-large">MaGIC, KUCHING </a></li>
                  <li><a class="waves-effect waves-teal btn-large">JETPACK, HARTAMAS </a></li>
                </ul>
              </div>
            </div>

          </div>
        </div>

      </main>

      <% include partial/script %>

    </body>
</html>
