<!DOCTYPE html>
<html lang="en">
    <head>
        <title>DevCon Happening</title>
        <% include partial/head %>
    </head>

    <body>
      <header>
        <% include partial/nav %>
      </header>

      <main>

        <div class="section wrapper">
          <div class="container">

            <div class="row">
              <div class="col s12 m12 center-align">
                <h4 class ="header">Meetup #3 - Machine Learning</h4>
              </div>
              <ul class="tabs">
                <li class="tab col s1"><a href="#home">HOME</a></li>
                <li class="tab col s1"><a href="#rules">RULES</a></li>
                <li class="tab col s1"><a href="#submission">SUBMISSIONS</a></li>
              </ul>
            </div>

            <div class="row">

              <!-- TAB: HOME -->
              <div id="home" class="col s12">
                <div class="row wrapper">
                  <div class="col s12 m7 description">
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris vitae massa malesuada, pulvinar lectus et, fringilla felis. Donec finibus rutrum gravida. Nunc malesuada tincidunt quam quis porta. Nunc ornare eu velit id iaculis. Praesent ac pharetra risus. Praesent non velit congue, mollis urna et, egestas nisi. In ac enim vel tortor mattis bibendum. In mattis at urna vestibulum consequat.</p>

                    <div class="half-wrapper">
                      <h6 class="title">THEME</h6>
                      <div>Music Festival</div>
                    </div>

                    <div class="half-wrapper">
                      <h6 class="title">REQUIREMENTS</h6>
                    </div>

                    <div class="half-wrapper">
                      <h6 class="title">HOW TO ENTER</h6>
                    </div>

                    <div class="half-wrapper">
                      <h6 class="title">JUDGING CRITERIA</h6>
                    </div>

                    <div class="half-wrapper">
                      <h6 class="title">NOTES</h6>
                      <div>Food & Beverage is not provided</div>
                    </div>
                  </div>

                  <div class="col s12 m4 offset-m1">
                    <a href="register" class="waves-effect waves-teal btn-large btn-full-width">Register Now</a>
                    <!-- <p><a href="#" class="text-hyperlink participant">18/20 participants</a></p> -->
                    <div class="half-wrapper">
                      <h6 class="title">DATE &amp; TIME</h6>
                      <div>Fri, October 13, 2017 </div>
                      <div>11:00 AM – 17:30 PM</div>
                    </div>

                    <!-- LOCATION -->
                    <div class="half-wrapper">
                      <h6 class="title">LOCATIONS</h6>
                      Malaysian Global Innovation & Creativity Centre (MaGIC), Block 3730, Persiaran Apec, 63000 Cyberjaya, Selangor <br />
                      <a href="#" class="text-hyperlink">(3.146994, 101.712912)</a>
                    </div>

                    <!-- SPONSOR  -->
                    <div class="half-wrapper">
                    </div>
                  </div>

                </div>
              </div>

              <!-- TAB: PARTICIPANTS -->
              <div id="participants" class="col s12"></div>

              <!-- TAB: RULES -->
              <div id="rules" class="col s12"></div>

              <!-- TAB: SUBMISSION -->
              <div id="submission" class="col s12">
                <div class="row wrapper">
                  <div class="col s12 m6">
                    <h2>Submit your Hack</h2>
                    <p></p>


                  </div>
                  <div class="col s12 m6">
                    <h6 class="title">RECOMMENDATIONS</h6>
                    <p><b>Original.</b> Make sure the project original and made during the hackathon.</p>
                    <p><b>Make presentation video.</b> Create a 2-min video that clearly explains the features and functionality of the application. Hint: Redo the video until you get it right</p>
                    <p><b>Language please.</b> All submission materials must be in English</p>
                  </div>

                  <div class="col s12">
                    <div class="divider">a</div>
                  </div>

                  <form action="#">
                    <div class="col s12 m5">
                      <h6 class="title">SUBMISSION DETAILS</h6>

                      <!--  -->
                      <div class="input-field col s12">
                        <input id="name" type="text" class="validate" required>
                        <label for="name">Name of project *</label>
                      </div>

                      <!--  -->
                      <div class="input-field col s12">
                        <input id="description" type="text" class="validate" required>
                        <label for="description">Description of project *</label>
                      </div>

                      <!--  -->
                      <div class="input-field col s12">
                        <div class="chips chips-placeholder">
                        <input class="input" name="technologies" placeholder="List of technologies used *"></div>
                      </div>

                      <!--  -->
                      <div class="input-field col s12">
                        <input id="url" type="text">
                        <label for="url">URL</label>
                      </div>

                      <!--  -->
                      <div class="input-field col s12">
                        <input id="source_code_url" type="text">
                        <label for="source_code_url">Source Code URL</label>
                      </div>

                      <!--  -->
                      <div class="input-field col s12">
                        <input id="video_url" type="text">
                        <label for="video_url">Video URL</label>
                      </div>

                      <p>&nbsp;</p>

                      <!-- ACKNOWLEDGEMENT -->
                      <div class="col s12 half-wrapper">
                        <input type="checkbox" id="agree" class="validate" required/>
                        <label for="agree">By clicking "SUBMIT" below, I acknowledge that I am uploading material that I own or have a license to use and I giving DevCon to display this submission detail. I accept the <a href="#" class="text-hyperlink">Terms and Condition</a> and acknowledge that my information will be used in accordance with Devcon's <a href="#" class="text-hyperlink">Privacy Policy</a></label>
                      </div>

                      <p>&nbsp;</p>
                      <!-- SUBMIT -->
                      <button type="submit" class="waves-effect waves-teal btn-large">Submit</button>

                    </div>
                    <div class="col s12 m5 offset-m1">
                      <h6 class="title">UPLOAD SCREENSHOTS</h6>
                      <p>You may upload up to four screenshots. Formats: JPG, GIF, or PNG each under 20MB. Size: 16:9 ratio (Eg: 1280x720</p>

                      <div class="file-field input-field">
                        <div class="btn">
                          <span>Choose File</span>
                          <input type="file" multiple>
                        </div>
                        <div class="file-path-wrapper">
                          <input class="file-path validate" type="text" placeholder="Upload one or more files">
                        </div>
                      </div>
                    </div>
                  </form>

                </div>
              </div>

            </div>

          </div>
        </div>

      </main>

      <% include partial/script %>
      <script>
      $(document).ready(function() {
        $('.chips-placeholder').material_chip({
          placeholder: 'List of technologies used *',
          secondaryPlaceholder: '+technology',
        });
      });
      </script>
    </body>
</html>
