<nav class="black">
  <div class="nav-wrapper container">
    <a href="/" class="brand-logo">Devcon</a>
    <ul class="right hide-on-med-and-down">
      <!-- Dropdown Trigger -->
      <li><a href="signup.html">Sign Up</a></li>
    </ul>
  </div>
</nav>
