<nav class="black">
  <div class="nav-wrapper container">
    <a href="/" class="brand-logo">Devcon</a>
    <ul class="right hide-on-med-and-down">
      <!-- Dropdown Trigger -->
      <li><a href="/register">Sign Up</a></li>
      <li><a href="/login">Login</a></li>
    </ul>
  </div>
</nav>
